* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
}
header {
  -webkit-box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  width: 100%;
}
header .container-logo {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container-pageback {
  width: 10%;
  display: flex;
  align-items: center;
}
header .container-logo .imagotipo {
  max-width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
header .container-logo .imagotipo img {
  margin-right: 5px;
  width: 40px;
}
header .container-logo .imagotipo h1 {
  color: black;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
header .container-pageback a img{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}
/*

  MAIN

*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #253781;
  flex-direction: column;
  min-height: calc(100vh - (95.2px + 70px));
}
main .container-tittle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
main .container-tittle h1 {
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
/* Estilos para pantallas grandes */
.container-chart {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 5px;
}

.tftable {
  width: 100%;
  min-width: 370px;
  font-size:12px;
  color:#333333;
  width:100%;
  border-width: 1px;
  border-color: #729ea5;
  border-collapse: collapse;
}

.tftable th{
  font-size: 1.2rem;
  background-color:#acc8cc;
  border-width: 1px;
  padding: 8px 4px;
  border-style: solid;
  border-color: #729ea5;
  text-align:center;
}
.tftable tr{
  background-color:#d4e3e5;;
}
.tftable td {
  font-size: 1.1rem;
  border-width: 1px;
  padding: 4px 4px;
  border-style: solid;
  border-color: #729ea5;
  text-align:center;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .container-chart {
    overflow-x: scroll;
  }
}


/*

  FIN DEL MAIN

*/
footer {
  -webkit-box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
footer .container-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container-logo .imagotipo {
  max-width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
footer .container-logo .imagotipo img {
  margin-right: 5px;
  width: 40px;
}
footer .container-logo .imagotipo h1 {
  color: black;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
footer .derechos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}
footer .derechos p {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}



