* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
}
header {
  -webkit-box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  width: 100%;
}
header .container-logo {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container-pageback {
  width: 10%;
  display: flex;
  align-items: center;
}
header .container-logo .imagotipo {
  max-width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
header .container-logo .imagotipo img {
  margin-right: 5px;
  width: 40px;
}
header .container-logo .imagotipo h1 {
  color: black;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
header .container-pageback a img{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}
/*
MAIN
*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #253781;
  flex-direction: column;
}
main .container-tittle {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60px;
  padding: 0 2px;
}
main .container-tittle .tittle {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  font-size: 2rem;
  align-self: center;
  text-align: center;
}
main .container-tittle .year {
  display: flex;
  height: 100%;
  justify-content: center;
  color: #f2f2f2;
  font-size: 2rem;
  background-color: red;
  align-items: center;
  padding: 0 10px;
  border-radius: 0 0 10px 10px;
  font-weight: 700;
}
main .coleccion {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
main .coleccion .coleccion-tittle img{
  width: 100%;
  max-width: 200px;
}
main .coleccion .promo {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}
main .coleccion .promo .coleccion-imagen {
  width: 30%;
  min-width: 200px;
  display: flex;
  justify-content: center;
}
main .coleccion .promo .coleccion-imagen img {
  width: 100%;
  max-width: 300px;
}
main .coleccion .promo .coleccion-info {
  width: 70%;
  padding: 5px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .coleccion .promo .coleccion-info h2 {
  color: #f2f2f2;
  font-size: 1.6rem;
  text-align: center;
  padding: 10px 0;
}
main .coleccion .promo .coleccion-info p {
  color: #f2f2f2;
  font-size: 1.3rem;
  padding: 10px 0;
}
main .coleccion .promo .coleccion-info p strong {
  color: #f2f2f2;
  font-size: 1.3rem;
  text-align: center;
}
/*fin del main*/
footer {
  -webkit-box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  box-shadow: inset 0px 0px 39px -10px rgba(0,0,0,0.46);
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
footer .container-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container-logo .imagotipo {
  max-width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
footer .container-logo .imagotipo img {
  margin-right: 5px;
  width: 40px;
}
footer .container-logo .imagotipo h1 {
  color: black;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
footer .derechos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}
footer .derechos p {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}



